<div id="map" class="mapDiv"></div>
<div class="listDiv">
	<div class="patientList">
		<div class="patientDiv" ng-repeat="user in peopleInNeed">
			<div class="list-row">
				<div class="list-left">
					<div class="pat-div-triage">{{user.TRIAGE}}</div>
					<div><span class="pat-div-symptoms">Symptoms: </span>{{user.SYMPTOMS}}</div>
					<div><span class="pat-div-phone">Phone: </span>{{user.PHONE}}</div>
					<div class="pat-div-title">{{user.DATE | date:'medium'}}</div>
					<div class="pat-div-title">{{user.LOCATION}}</div>
				</div>
				<div class="list-right">
					<div class="triage-icon"
						 ng-class="{'choking': user.TRIAGE == 'choking'
						 , 'shock': user.TRIAGE == 'shock'
						 , 'heartattack': user.TRIAGE == 'heartattack'
						 , 'burn': user.TRIAGE == 'burn'
						 , 'bleeding': user.TRIAGE == 'bleeding'
						 , 'electrocution': user.TRIAGE == 'electrocution'
						 , 'anaphylaxis': user.TRIAGE == 'anaphylaxis'
						 }"></div>
					<div class="list-filters">
						<button onclick="changeHandler()" class="call-patient-btn" type="button" data-doctor="+447756068326" data-patient="+447941147361" value="Call Patient"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pollingText">
	<span>Listening for MedicSMS texts</span>
</div>
<div class="pollingAnimationDiv">
	<span class="circle growAndShrinkOne"></span>
	<span class="circle growAndShrinkTwo"></span>
	<span class="circle growAndShrinkThree"></span>
	<span class="circle growAndShrinkFour"></span>
	<span class="circle growAndShrinkFive"></span>
	<span class="circle growAndShrinkSix"></span>
</div>