<div id="map" class="mapDiv"></div>
<div class="listDiv">
	<div class="patientList">
		<div class="patientDiv" ng-repeat="user in peopleInNeed">
			<div class="list-row">
				<div class="list-left">
					<div class="pat-div-triage">{{user.TRIAGE}}</div>
					<div><span class="pat-div-symptoms">Symptoms: </span>{{user.SYMPTOMS}}</div>
					<div><span class="pat-div-phone">Phone: </span>{{user.PHONE}}</div>
					<div class="pat-div-title">{{user.DATE | date:'medium'}}</div>
					<div class="pat-div-title">{{user.LOCATION}}</div>
				</div>
				<div class="list-right">
					<div class="list-title">CELL2</div>
					<div class="list-filters">CELL3
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pollingText">
	<span>Listening for MedicSMS texts</span>
</div>
<div class="pollingAnimationDiv">
	<span class="circle growAndShrinkOne"></span>
	<span class="circle growAndShrinkTwo"></span>
	<span class="circle growAndShrinkThree"></span>
	<span class="circle growAndShrinkFour"></span>
	<span class="circle growAndShrinkFive"></span>
	<span class="circle growAndShrinkSix"></span>
</div>